#background{
    background-image:url("../Bilder/london.jpg");
}
#container{
    position:fixed;
    top: 60%;
    left: 50%;
}
#divright{
    right:50%;
    height:100%;
    width:50%; 
    float: right;
    background:green;
}
#divleft{
    left:50%;
    width:50%; 
    float: left;
    height:100%;
}
#image{
    transition: all 2s ease-in-out; 
}
#h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    transition: all 2s ease-in-out; 
}